@charset "utf-8";
@font-face {
  font-family: "bedtime";
  src: url("../font/bedtime.eot");
  /* IE9 */
  src: url("../font/bedtime.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../font/bedtime.woff") format("woff"), /* chrome, firefox */ url("../font/bedtime.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url("../font/bedtime.svg#bedtime") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
.i1:before {
  content: '\f006';
  display: inline-block;
  font-family: "bedtime";
}
.i2:before {
  content: '\f007';
  display: inline-block;
  font-family: "bedtime";
}
.i3:before {
  content: '\f008';
  display: inline-block;
  font-family: "bedtime";
}
.i4:before {
  content: '\f009';
  display: inline-block;
  font-family: "bedtime";
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.container {
  width: 100%;
  height: 100%;
}
.w1800 {
  margin: 0 auto;
  width: 1800px;
  height: 100%;
}
.pcindex .first .up {
  height: 20%;
  width: 100%;
}
.pcindex .first .up .icons {
  height: 60px;
  width: 25%;
  float: right;
  position: relative;
  right: 25%;
  background-color: black;
  color: white;
}
.pcindex .first .up .icons .download,
.pcindex .first .up .icons .wb,
.pcindex .first .up .icons .wx {
  display: inline-block;
  height: 100%;
  width: 31%;
  text-align: center;
  margin-right: 2px;
  background-color: darkslategray;
  font-family: "bedtime";
  font-size: 3rem ;
}
.pcindex .first .up .icons .download img,
.pcindex .first .up .icons .wb img,
.pcindex .first .up .icons .wx img,
.pcindex .first .up .icons .download svg,
.pcindex .first .up .icons .wb svg,
.pcindex .first .up .icons .wx svg {
  max-width: 100px;
  height: 100%;
}
.pcindex .first .down {
  height: 80%;
}
.pcindex .first .down .main {
  height: 50%;
}
.pcindex .first .down .main .logo {
  height: 40%;
}
.pcindex .first .down .main .tip {
  height: 20%;
}
.pcindex .first .down .main .qr {
  height: 40%;
}
.pcindex .first .down .main .logo,
.pcindex .first .down .main .tip,
.pcindex .first .down .main .qr {
  text-align: center;
}
.pcindex .first .down .main .logo img,
.pcindex .first .down .main .tip img,
.pcindex .first .down .main .qr img {
  height: 100%;
}
.pcindex .first .down .earthwrap {
  height: 50%;
}
