@charset "utf-8";
@font-yy:"Youyuan","幼圆","SYHT","微软雅黑","Microsoft Yahei","Heiti";

@import "iconfont.less";
@import "animate.less";

.i1:before{
    content: '\f006';
    display: inline-block;
    font-family: "bedtime";
}
.i2:before{
    content: '\f007';
    display: inline-block;
    font-family: "bedtime";
}
.i3:before{
    content: '\f008';
    display: inline-block;
    font-family: "bedtime";
}
.i4:before{
    content: '\f009';
    display: inline-block;
    font-family: "bedtime";
}

html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 16px;
}
body{
    background-color: #0d212a;
}
*{
    margin: 0;
    padding: 0;
    border: 0 none;
}
.container{
    width: 100%;
    height: 100%;
}
.w1800{
    margin:0 auto;
    width:1800px;
    height: 100%;
}
body canvas{
    display: none;
}
.canvas canvas{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.pcindex{
    .first{
        .up{
            height: 20%;
            width: 100%;
            .icons{
                height: 60px;
                width: 25%;
                float: right;
                position: relative;
                right: 25%;
                background-color: black;
                color: white;
                .download,.wb,.wx{
                    display: inline-block;
                    height: 100%;
                    width: 31%;
                    text-align: center;
                    background-color: darkslategray;
                    font-family: "bedtime";
                    font-size:3rem ;
                    //-webkit-font-smoothing: antialiased;
                    //-webkit-text-stroke-width: 0px;
                    img,svg{
                        max-width:100px;
                        height: 100%;
                    }
                }
                .download,.wb{
                    margin-right: 0.5%;
                }
                .download{
                    //background-image: url(../img/download.svg);
                }
                .wb{
                    //background-image: url(../img/wb.svg);
                }
                .wx{
                    //background-image: url(../img/wx.svg);
                }
            }
            
        }
        .down{
            height: 80%;
            overflow: hidden;
            .main{
                height: 50%;
                .logo{
                    height: 40%;
                }
                .tip{
                    height: 20%;
                }
                .qr{
                    position: relative;
                    z-index: 10;
                    height: 40%;
                }
                .logo,.tip,.qr{
                    text-align: center;
                    img{
                        height: 100%;
                    }
                }
            }
            .earthblock{
                height: 50%;
                //overflow: hidden;
                .earthwrap{
                    margin: 0 auto;
                    position: relative;
                    .earth,.cloud,.plane{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        img{
                            width: 100%;
                        }
                    }
                    .earth img{
                    }
                    .cloud img{
                    }
                    .plane img{
                    }
                    
                }
            }
        }
    }
    .second{
    }
    .third{
    }
    .fourth{
    }
    
}